body {
    font: 70px Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #E5E5E5;
}

.nav-link {
    color: white;
}

.container-fluid {}

.quem-somos {
    color: white;
    background-color: #D9D9D9;
}

.margin {
    padding-bottom: 30px;
    padding-top: 10px;
}

.parceiros {
    background-color: #C9C9C9;
}

.servicos {
    background-color: #BDBDBD;
}

.bg-footer {
    background-color: #B1B1B1;
    color: white
}